<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand logo " [routerLink]="['/']"  >TravelGram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">      
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a [routerLink]="['/addpost']" *ngIf="email"  class="btn btn-primary nav-link text-white rounded">Add a Post +</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  [routerLink]="['/']" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!email" [routerLink]="['/signup']" routerLinkActive="active" >Signup</a>
        </li>
        <li class="nav-item  cursor">
            <a class="nav-link" *ngIf="email" (click)="handleSignout()" >Signout</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" *ngIf="!email" [routerLink]="['/signin']" routerLinkActive="active" >Login</a>
        </li>      
      </ul>
      <div *ngIf="user" class="d-flex justify-content-between nav-link btn btn-pill btn-light">
        <img [src]="user?.picture" alt="Profile Picture" height="40px" width="40px" class="rounded-circle " />
      </div>
    </div>
  </nav>