<div class="main row mt-5 mb-3">
    <div class="col-sm-12 col-lg-6">
      <div class="card shadow-lg">
        <div class="card-header  text-large text-center">
          {{ "Post a photo" | uppercase }}
        </div>
  
        <form class="card-body" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="locationName"
              name="locationName"
              placeholder="Location Name"
              [(ngModel)]="locationName"
              required
            />
          </div>
  
          <div class="form-group">
            <textarea
              type="text"
              rows="5"
              class="form-control"
              id="description"
              name="description"
              [(ngModel)]="description"
              required
              placeholder="Write Some caption"
            ></textarea>
          </div>
  
          <div class="text-center mb-4 mt-2">
            <label for="imagepicker" class="">
              Choose Your Picture
            </label>
  
            <input
              type="file"
              name="image"
              id="imagepicker"
              accept="image/*"
              multiple="{false}"
              (change)="uploadFile($event)"
              class="form-control-file mx-auto"
            />
            <div
              class="text-primary text-center"
              [hidden]="!uploadPercent || uploadPercent == 100"
            >
              uploading {{ uploadPercent | number: "1.0-0" }} % of 100% <br />
              Please wait a little...
            </div>
            <div
              class="text-success text-uppercase text-center"
              *ngIf="uploadPercent == 100"
            >
              Upload finished
            </div>
          </div>
  
          <div class="text-center">
            <button type="submit" class="btn btn-primary" [disabled]="!picture">
              Submit Post
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 ">
      <div class="card">
        <div class="card-header text-center">
          <span *ngIf="picture" class=" text-center text-uppercase">
            Your Uploaded Image
          </span>
          <span *ngIf="!picture" class=" text-center text-uppercase">
            Uploaded Your Image
          </span>
        </div>
        <div class="card-body">
          <img *ngIf="picture" [src]="picture" alt="" class="img-fluid figure-img" />
        </div>
      </div>
      
 
    </div>
  </div>
  