<div class="container pt-5">
  
  <div class="row">
    
    <div class="col col-lg-4 col-sm-12 align-content-center text-center pt-3">
      <img src="../../../assets/travelgram1.png" alt="Travelgram" srcset="" height="400px">
    </div>


    <div class="col col-lg-8 col-sm-12">
        <div class="card ">
              <div class="card-body px-5">
                <div class=" text-center">
                  <h2 class="logo">TravelGram</h2>
                </div>
                <form (ngSubmit)="onSubmit(f)" #f="ngForm" >
                  
                  <div class="row py-4">
                    
                    <div class="col-lg-3 col-sm-12">
                      
                      <div>
                        <!-- image picker -->
                        <div class="text-center">
                          <label for="imagepicker" class="">
                            <img [src]="picture" height="100" width="100" alt="" class="profile cursor" />
                          </label>
          
                          <input
                            type="file"
                            name="image"
                            id="imagepicker"
                            accept="image/*"
                            multiple="{false}"
                            class="hidden"
                            hidden
                            (change)="uploadFile($event)"
                          />
                        </div>
          
                        <div
                        [hidden]="!uploadPercent || uploadPercent ==100"
                        class="text-secondary text-center">
                        
                        uploading
                        {{uploadPercent | number: '1.0-0'}} % of 100%
                        </div>
                        <div 
                        *ngIf="uploadPercent==100"
                        class="text-success text-uppercase text-center mb-3">
                          Upload finished
                        </div>
                      </div>


                    </div>
                    
                    <div class="col col-lg-9 col-sm-12">
                      <div class="form-group row">
                        <input
                          type="name"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder="Full Name"
                          required
                          ngModel
                        />
                    </div>
        
                    <div class="form-group row">
                        <input
                          type="email"
                          class="form-control"
                          id="email"
                          name="email"
                          placeholder="Email"
                          required
                          ngModel
                        />
                    </div>


                    </div>
                  
                  </div>
                  
                  
                 
      
                  
      
                  <div class="form-group row">
                      <input
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        placeholder="Password"
                        required
                        ngModel
                      />
                  </div>
      
                  <div class="form-group row">
                      <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        placeholder="Instagram Username"
                        required
                        ngModel
                      />
                  </div>
      
                  <div class="form-group row">
                      <input
                        type="text"
                        class="form-control"
                        id="country"
                        name="country"
                        placeholder="Your Country"
                        required
                        ngModel
                      />
                  </div>
      
                  <div class="form-group row">
                      <textarea
                        type="text"
                        class="form-control"
                        id="bio"
                        name="bio"
                        placeholder="Your Bio"
                        required
                        ngModel
                      ></textarea>
                  </div>
      
                  <div class="row">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="!f.form.valid" >
                      Create an Account
                    </button>
                  </div>
                </form>
        </div>
      </div>
      
    </div>
    <!-- col finish -->
  
  
  </div>
<!-- row finsih -->

</div>