<div class="container-fluid">
    <div
      *ngIf="isLoading; else Content"
      class="d-flex justify-content-center align-items-center min-vh-100"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem;"
        role="status"
      ></div>
    </div>
  
    <ng-template #Content>
      <div class="row m-5 ">
        <div class="col col-md-8">
            <div *ngFor="let item of posts">
          <app-posts [post]="item"></app-posts>
            </div>
        </div>
        <div class="col col-md-4">
            <div class="w-100 mb-4">
                <app-usercard></app-usercard>
            </div>
          <p class="text-muted text-uppercase text-left mt-3">All Current Users</p>
          <div *ngFor="let item of users">
              <app-users [user]="item"></app-users>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
  